{{extend 'layout.html'}}


<h2>
    View rows
</h2>
<table class="table">
    {{for row in rows:}}
    <tr>
        <td>{{=row.project_id}}</td>
        <td><a href="{{=URL('show',args=row.id)}}">{{=row.file_id}}</a></td>
    </tr>
    {{pass}}
</table>
